<div class="hero-section">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1 class="hero-title">Ride with Confidence</h1>
    <p class="hero-subtitle">
      Reliable, affordable, and professional taxi services in Rugby. Book your
      ride today and experience the comfort and convenience of JAJ Taxi.
    </p>
    <div class="hero-buttons">
      <a routerLink="/services" class="hero-button explore-button"
        >Explore Services</a
      >
      <span class="or-separator">OR</span>
      <a href="tel:+447570881964" class="hero-button call-button">Call Now</a>
    </div>
  </div>
</div>

<div class="landing-container">
  <div class="intro-section">
    <h1 class="intro-title">Welcome to JAJ Taxi</h1>
    <p class="intro-text">
      Welcome to JAJ Taxi – Reliable and Friendly Taxi Service in Rugby! Looking
      for a dependable taxi service in Rugby? Look no further than JAJ Taxi! We
      take pride in offering exceptional 24/7 transportation solutions, ensuring
      you're always on time, whether it’s for work, leisure, or a night out. At
      JAJ Taxi, customer satisfaction is at the heart of everything we do. With
      a fleet of well-maintained vehicles and friendly, experienced drivers,
      we’re here to make your journey safe, comfortable, and stress-free.
      Whether you're traveling across Rugby or need a longer ride, our team is
      dedicated to providing the reliable service you deserve—day or night, rain
      or shine. Choose JAJ Taxi for the ride you can trust!
    </p>
  </div>

  <section class="features">
    <h2 class="section-title">Why Choose Us?</h2>
    <div class="features-grid">
      <div class="feature">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/MUTCD_D9-6.svg/1200px-MUTCD_D9-6.svg.png"
          alt="24/7 Availability"
        />
        <h3>Wheelchair Access</h3>
        <p>We provide wheelchair access for those with disabilities.</p>
      </div>
      <div class="feature">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Car_icon_alone.png"
          alt="Professional Drivers"
        />
        <h3>Professional Drivers</h3>
        <p>
          Our drivers are experienced, courteous, and ensure a safe journey.
        </p>
      </div>
      <div class="feature">
        <img
          src="https://static.thenounproject.com/png/1568675-200.png"
          alt="Friendly Service"
        />
        <h3>Friendly Service</h3>
        <p>We provide friendly and personalised service to our customers.</p>
      </div>
    </div>
  </section>
  <section class="cards">
    <h2 class="section-title">Want to Find Out More?</h2>
    <div class="card-section" id="services">
      <app-landing-card
        *ngFor="let landingCard of landingCards"
        [landingCard]="landingCard"
      ></app-landing-card>
    </div>
  </section>
</div>
